.food__madrid--box{
    width: 300px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

    &--header{
        height: 155px;
        background-image: url(/img/food.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 85px 20px 0;

        span{
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: 700;

            img{
                margin: 0;
                margin-right: 3px;
            }
        }
    }

    &--body{
        background-color: white;

        li{
            padding: 0 20px;
            height: 60px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 700;
            
            p{
                margin: 0;
            }

            span{
                margin: 0;
                transition: 0.5s ease;
            }
        }

        li:hover .price{
            color: black;
            transform: scale(1.2);
        }

        li:not(:nth-child(4)){
            border-bottom: 1px solid rgb(223, 220, 220);
        }
    }
}